h1 {
  color: green;
  text-align: center;
}
section {
  text-align: center;
}
input {
  border-radius: 5px;
  height: 25px;
  width: 250px;
  font-size: 20px;
}
 ::placeholder {
   font-size: 20px;
 }
button {
align-self: center;}

 body {
   margin-top: 200px;
 }


button {
  margin: 30px 322px;
  border-radius: 5px;
  width: 780px;
  height: 30px;
  color: red;
  font-size: 20px;
  border-color: red;
}
